<div class="container">
    <h3 class="h3-heading">Sign in</h3>
    <form action="/admin/login" method="post">
        <input type="text" name="username" placeholder="Enter Username...">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Login" class="btn">
    </form>

    <h3 class="h3-heading">Register</h3>
    <form action="/admin/register" method="post">
        <input type="text" name="username" placeholder="Enter Username...">
        <input type="email" name="email" placeholder="Enter Email...">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Register" class="btn">
    </form>
</div>