<script src="/javascripts/admin.js"></script>
<script src="/ckeditor/ckeditor.js"></script>
<script>
  CKEDITOR.replace("editor", {
    extraPlugins: "justify, colorbutton",
  });
</script>

<p>Copyright &copy; 2024 Poetry Website</p>
