<div class="navBare" id="ASnavBare"><i class="bi bi-list"></i></div>
<aside id="aside">
  <i class="bi bi-x-lg" id="ASclose-btn"></i>
  <header class="header">
    <p id="admin-name">Muhammad Shahbaz</p>
  </header>
  <nav class="side-navigation">
    <ul>
      <li class="active">
        <a href="/admin/dashboard"><i class="fa fa-home"></i>Home Page</a>
      </li>
      <li>
        <a href="/admin/dashboard/allPoetry"><i class="fa fa-ship"></i>All Poetry</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-users"></i>Users</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comments"></i>Comments</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-area-chart"></i>Stats</a>
      </li>
    </ul>
  </nav>
</aside>


<script>
  const ASnavBare = document.getElementById('ASnavBare')
  const aside = document.getElementById('aside')
  const AScloseBtn = document.getElementById('ASclose-btn')
  // const container = document.getElementById('container')

  ASnavBare.addEventListener('click', function(){
    aside.style.left = '0%'
  })

  AScloseBtn.addEventListener('click', function(){
    aside.style.left = '-100%'
  })

</script>