<aside>
  <header class="header">
    <p>Muhammad Shahbaz</p>
  </header>
  <nav class="side-navigation">
    <ul>
      <li class="active">
        <a href="/admin/dashboard"><i class="fa fa-home"></i>Home Page</a>
      </li>
      <li>
        <a href="/admin/dashboard/allPoetry"><i class="fa fa-ship"></i>All Poetry</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-users"></i>Users</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comments"></i>Comments</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-area-chart"></i>Stats</a>
      </li>
    </ul>
  </nav>
</aside>
