<div class="container">
  <div class="day_poetry_wraper">
    <div class="dayPoetry">
      <div class="p_box" style="margin: auto;">
        <%- poetry.poetry %>
        <span class="poet-name"><%= poetry.poetName %></span>
      </div>
    </div>
  </div>
  <form action="/write/comment/<%= poetry._id %>" method="post" class="comment-form">
    <input type="text" name="comment" placeholder="Enter Comment..." required class="comment-input"/>
    <input type="submit" value="Comment" class="comment-btn" />
  </form>
  <div class="comments-box">
    <% poetry.comments.reverse().forEach(elem => { %>
     <div class="comment">
      <%= elem.comment %>
     </div>
    <% }) %>
  </div>
</div>
