<div class="container">
  <form action="/admin/dashboard/famous_poets/add" method="post" enctype="multipart/form-data">
    <input type="file" name="poetImage" id="poetImage" />
    <input type="text" name="poetName" placeholder="Add Poet Name"/>
    <textarea name="poetDiscription" id="editor" cols="30" rows="10"></textarea>
    <input type="submit" value="Add Poet" class="btn" />
  </form>
</div>
