<div class="header">
  <ul class="category-navigation">
    <li class="active"><a href="/admin/dashboard/allPoetry/2Line">2 Line</a></li>
    <li><a href="/admin/dashboard/allPoetry/4Line">4 Line</a></li>
    <li><a href="/admin/dashboard/allPoetry/nazam">Nazam</a></li>
    <li><a href="/admin/dashboard/allPoetry/gazal">Gazal</a></li>
  </ul>
</div>