<div class="navBare" id="navBare"><i class="bi bi-list"></i></div>
<div class="header" id="main-header">
  <ul class="category-navigation">
    <i class="bi bi-x-lg" id="close-btn"></i>
    <li class="active"><a href="/admin/dashboard">Daily Poetry</a></li>
    <li><a href="/admin/dashboard/famous_poets">Famous Poets</a></li>
    <li><a href="#">Famous Poetry</a></li>
  </ul>
</div>