<div class="header">
  <ul class="category-navigation">
    <li class="active"><a href="/admin/dashboard">Daily Poetry</a></li>
    <li><a href="/admin/dashboard/famous_poets">Famous Poets</a></li>
    <li><a href="#">Famous Poetry</a></li>
  </ul>
</div>